<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/blog_app</property>
        <property name="connection.username">matias</property>
        <property name="connection.password">matias</property>

        <!-- JDBC connection pool (use the built-in) 
        <property name="connection.pool_size">1</property> -->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- The mapping information of entities -->
        <mapping class="com.bootcamp.app.User"/>
        <mapping class="com.bootcamp.app.Tag"/>
        <mapping class="com.bootcamp.app.Post"/>
        <mapping class="com.bootcamp.app.Group"/>
        <mapping class="com.bootcamp.app.Subscribable"/>

    </session-factory>

</hibernate-configuration>